{% extends "base.html" %}
{% block content %}

    <div style="padding: 1%">
        <h1>Reply List</h1>
        <form action="/add_replace" method="post">
            <p style="margin: 0">
                <label for="trigger">Trigger</label>
            </p>
            <input type="text" name="trigger" style=" width: 20%">
            <p style="margin: 0">
                <label for="replace">Replace</label>
            </p>
            <input type="text" name="replace" style=" width: 20%">
            <p>
                <input type="submit" value="add">
            </p>
        </form>
    </div>
    {{ table }}
{% endblock %}