{% extends "base.html" %}
{% block content %}

    <div style="padding: 1%">
        <h1>Reply List</h1>
        <form action="/add_reply" method="post">
            <p style="margin: 0">
                <label for="trigger">Trigger</label>
            </p>
            <input type="text" name="trigger" style=" width: 20%">
            <p style="margin: 0">
                <label for="reply">Reply</label>
            </p>
            <textarea name="reply" style=" width: 20%"></textarea>
            <p>
                <input type="submit" value="add">
            </p>
        </form>
    </div>
    {{ table }}
{% endblock %}